[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Kate
	email = kit-ty-kate@outlook.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci, %cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	fixup = commit --fixup
	squash = rebase --autosquash -i
	force-push = push --force-with-lease
[push]
	default = simple
[rerere]
	enabled = true
[merge]
	tool = vimdiff
[pull]
	ff = only
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[protocol "file"]
	allow = always
