[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Kate
	email = kit.ty.kate@disroot.org
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci, %cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
[rerere]
	enabled = true
[merge]
	tool = vimdiff
